body {
    background-size: cover ;
    background-position: center;
    background-image: url("../imgs/pinkbg.jpg"); 
    background-color: #e1f4fa;
}

nav {
    display: none;
}

a:link {
    text-decoration: none;
    color: black;
}

footer {
    display: none;
    position: absolute;
}