html {
    scroll-behavior: smooth;
}

body {
    color: #402a20;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f9f9f9; /* #fffbfa;  */
}

nav li {
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    padding: 10px;
    /* border-bottom: 2px solid black; */
}

nav a {
    color: #381d2a;
    font-weight: bold;
    text-decoration: none; 
    text-transform: uppercase;
}

nav a:hover, nav a:focus {
    border-top: 3px solid #a35279;
}

nav {
    background-color: #edece9; /* #3e6990; */ /* e6ebeb; */
    border-bottom: 1px solid #f5f5f5;
    color: #381d2a;
    /* position: fixed; */
    width: 100%; 
    box-shadow: 0 2px 2px -2px rgba(245,245,245,0.5);
    align-items: center;
}

#currentpage {
    border-top: 3px solid #a35279;
}

/* #backtotop {
    width: 30px;
    height: 30px;
    position: static;
    right: 0;
    bottom: 50px;
    opacity: 50%;
    background-image: url("..imgs/backtotop.jpg");
} */

/* main {
    padding-top: 100px;
    min-height: 90vh;
} */

footer {
    background-color: #e1f4fa;
    color: #2c373b;
    padding: 25px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    left: 0px;
    bottom: 0px;
    width: 100%;
    position: relative;
    width: 100%;
}
/* https://css-tricks.com/couple-takes-sticky-footer/ */

/*Keyframes for animation*/

@-webkit-keyframes logo_wiggle{
    /*Your code here.*/
    from {
      width: 5px;
    }
    to {
      width: 420px;
    }
  }
  
  @keyframes logo_wiggle{
    /*Your code here.*/
    from {
      width: 5px;
    }
    to {
      width: 420px;
    }
  } 
  
  #logo{
     /*Your code here.*/
    -webkit-animation: logo_wiggle;
    animation-name: logo_wiggle;
    animation-duration: 15s;
    /* animation-iteration-count: initial; */
    max-width: 40px;
    max-height: 40px;
  }


/* ---------------------------------------- INDEX.HTML ---------------------------------------- */

.challenge {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    /* padding-top: 100px */
    padding-top: 200px;
}

.challenge a:visited {
    color: #402a20;
}

.challenge a:hover, .challenge a:focus, .challenge a:active {
    color: #b33902;
}

#here1 {
    background-color:#f2f3fc;
    border: 3px solid #518e91;
    color: #518e91;
    padding: 8px 28px 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    margin: 30px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#here1:hover {
    text-decoration: none;
    border: 3px solid #e37c7b;
    color: #e37c7b;
}

#here2 {
    background-color:#9da2cf;
    border: none;
    color: #54372c;
    padding: 10px 30px 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    margin: 30px 15px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

#here2:hover {
    background-color: #dadcf2;
    color: #767891;
    border: none;
}

#here3 {
    background-color:#d4c7c3;
    border: 3px dashed #54372c;
    color: #54372c;
    padding: 8px 28px 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    margin: 30px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#here3:hover {
    text-decoration: underline;
    border-radius: 5px;
}

.next {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    padding-top: 60px;
    padding-right: 30px;
    font-size: 14px;
}

.next a:hover {
    text-decoration: underline;
}

/* ---------------------------------------- WORK.HTML ---------------------------------------- */

.opening {
    display: grid;
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    background-color: #e6f9fc;
    background-image: url("../imgs/abstractpink.jpg"); 
    text-align: center;
    justify-self: center;
    align-self: center; 
    gap: 10px 10px; 
    font-size: 16px;
    font-family: 'Montserrat', serif;
    grid-row: 1 / auto;
    grid-column: 1 / -1;
    /* grid-template-rows: auto 60% auto; */
    grid-template-columns: 20% auto 20%;
}

p#top {
    padding-top: 130px;
    padding-bottom: 18px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    text-shadow: 1px 1px 3px white;
}

p#bottom {
    padding-top: 18px;
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    padding-bottom: 130px;
    text-shadow: 1px 1px 3px white;
}

.opening h1 {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 5px solid #a35279; /* #ff8fc7; */
    border-bottom: 5px solid  #a35279; /* #ff8fc7; */
    background-color: rbga(150,150,150,0.5);
    font-size: 50px;
    text-transform: uppercase;
    color: /* #ff8fc7; */ #a35279;
    text-shadow: 1px 1px 3px white;
    grid-column: 2 / span 1;
    justify-self: stretch;
    align-self: stretch;
    /* margin-top: 15px;
    margin-bottom: 15px; */
}

/* .hiimminnaau {
    transform: translateY(-50%);
} */

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

#skiptoprojects {
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', serif;
    font-size: 20px;
    margin-top: 20px;
}

#projects {
    display: grid;
    grid-template-rows: 100px auto 100px auto;
    /* grid-template-columns: 1fr 1fr; */
}

/* .projects + img {
    width: 500px;
    height: 300px;
} */

.projectstitle{
    /* grid-column: 1 / span 2; */
    grid-row: 1;
    font-family: 'Montserrat', serif;
    font-size: 24px;
    padding: 20px;
    text-transform: uppercase;
    vertical-align: middle;
}

.projectsbox {
    grid-row: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 70px;
    max-width: 500px; /* 50vh */
    text-align: center;
    margin: auto;
}

/* .codingprojectbox #faceless img, .codingprojectbox #mardigras img {
    max-width: 200px;
    max-height: 20%;
    min-width: 20%;
    min-height: 200px;
    object-fit: cover;
    justify-content: space-evenly;
    padding: 10px;
} */

.project1 {
    padding: 30px;
    justify-self: center;
    align-self: center;
    /* grid-column: 1 / span 1;
    grid-row: 2 / span 1; */
    object-fit: contain;
    /* width: 500px;
    height: 500px; */
    margin: 10px;
    border: 3px solid gray;
    text-align: center;
    max-width: 50vh;
}

/* #facelessimg {
    /* width: 500px;
    height: 180px; commentend
    object-fit: contain;
    max-width: 200px;
    max-height: 20%;
    min-width: 20%;
    min-height: 200px;
    overflow:hidden;
} */

.project2 {
    padding: 30px;
    justify-self: center;
    align-self: center;
    /* grid-column: 2 / span 1;
    grid-row: 2 / span 1; */
    margin: 10px;
    border: 3px solid gray;
    text-align: center;
}

/* #mardigrasimg {
    /* width: 500px;
    height: 700px; commentend
    object-fit: contain;
    max-width: 200px;
    max-height: 20%;
    min-width: 20%;
    min-height: 200px;
} */

/* #faceless p, #mardigras p {
    display: none;
} */

/* #mardigrastext {
    opacity: 0;
    position: absolute;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
} */

/* #project1:hover, #project2:hover {
    opacity: 0.5;
    display: block;
    color: black;
} */

/* #project2 #mardigrastext:hover {
    opacity: 1;
}

#project2 #mardigrastext p {
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

#project2 #mardigrastext:hover #mardigrastitle {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
} */

/* #faceless:hover + #facelesstitle, #faceless:hover + #facelessp, #mardigras:hover + #mardigrastitle, #mardigras:hover + #mardigrasp {
    display: block;
    color: black;
} */


/* https://www.w3schools.com/howto/howto_css_flip_card.asp */
.project1, .project2 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .project1:hover .flip-card-inner, .project2:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #edece9;
    color: black;
    overflow: hidden;
  }
  
  .flip-card-back {
    background-color: #edece9;
    color: rgb(26, 26, 26);
    transform: rotateY(180deg);
    font-family: 'Montserrat', serif;
    vertical-align: center;
  }
/* ---------------------------------------- ABOUT.HTML ---------------------------------------- */

.aboutmeheader {
    display: grid;
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    background-color: #e6f9fc;
    background-image: url("../imgs/abstractyellow.jpg");
    justify-self: center;
    align-self: center; 
    gap: 10px 10px; 
    font-size: 16px;
    font-family: 'Montserrat', serif;
    grid-row: 1 / auto;
    grid-column: 1 / -1;
    padding: 100px;
}

.aboutmeheader p {
    text-align: center;
    font-size: 50px;
    color: #a35279;
    text-shadow: 1px 1px 3px white;
}

.aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

.aboutme img {
    max-height: 500px;
    min-height: 200px;
    max-width: 400px;
    min-width: 100px;
    border-radius: 8%;
}

.aboutmeparagraph {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px 90px;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 70px;
}

.gallery img {
    max-width: 200px;
    max-height: 20%;
    min-width: 20%;
    min-height: 200px;
    object-fit: cover;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 5.5%;
}

.letsconnect {
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    background-color: #e6f9fc;
    background-image: url("../imgs/abstractyellow.jpg");
    padding: 100px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    color: #a35279;
}

p#email {
    font-size: 22px;
    padding: 20px;
    text-align: center;
}

/* ---------------------------------------- RESUME.HTML ---------------------------------------- */

.resumeheader {
    display: grid;
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    background-color: #e6f9fc;
    background-image: url("../imgs/abstractlightblue.png");
    justify-self: center;
    align-self: center; 
    gap: 10px 10px; 
    font-size: 16px;
    font-family: 'Montserrat', serif;
    grid-row: 1 / auto;
    grid-column: 1 / -1;
    padding: 100px;
}

#resume {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rbga(150,150,150,0.5);
    font-size: 50px;
    text-transform: uppercase;
    color: /* #ff8fc7; */ #a35279;
    text-shadow: 1px 1px 3px white;
    /* grid-column: 2 / span 1;
    justify-self: stretch;
    align-self: stretch; */
    text-align: center;
    /* margin-top: 15px;
    margin-bottom: 15px; */
}

#resumep1, #resumep2 {
    text-align: center;
    color: #a35279;
    padding-top: 0px;
}

/* .resumehead {
    text-align: center;
}

.resumehead h3 {
    font-size: 16px;
}

.resumebody {
    display: grid;
    grid-template-columns: 2;
}

.education h3, .techexp h3, .workexp h3, .leadership h3, .skills h3 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 5px;
}

#date {
    grid-column: 2;
} */

/* ---------------------------------------- CONTACT.HTML ---------------------------------------- */

.getintouch {
    text-align: center;
    padding: 30px 60px;
}

.getintouch h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.getintouch p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

#name_id {
    grid-column: 1 / span 1;
}

#email_id {
    grid-column: 2 / span 1;
}

label {
    display: none;
}

/* ---------------------------------------- LAPTOP VIEW ---------------------------------------- */

@media screen and (min-width: 770px) {
    
    nav li {
        display:inline;
        padding-left:20px;  
        font-family: 'Raleway', sans-serif; 
    }
    
    nav a {
        color: #381d2a;
        font-weight: bold;
        text-decoration: none; 
        text-transform: uppercase;
    }
    
    nav a:hover, nav a:focus {
        border-top: 3px solid #a35279;
    }
    
    nav {
        background-color: #edece9; /* #3e6990; */ /* e6ebeb; */
        border-bottom: 1px solid #f5f5f5;
        padding: 25px 0; 
        text-align: left;
        color: #381d2a;
        /* position: fixed; */
        width: 100%; 
        box-shadow: 0 2px 2px -2px rgba(245,245,245,0.5);
        display: flex;
        justify-content: flex-start;
    }


}

/* ---------------------------------------- TABLET VIEW ---------------------------------------- */

@media screen and (min-width: 600px) {
    
    nav li {
        display:inline;
        padding-left:20px;  
        font-family: 'Raleway', sans-serif; 
    }
    
    nav a {
        color: #381d2a;
        font-weight: bold;
        text-decoration: none; 
        text-transform: uppercase;
    }
    
    nav a:hover, nav a:focus {
        border-top: 3px solid #a35279;
    }
    
    nav {
        background-color: #edece9; /* #3e6990; */ /* e6ebeb; */
        border-bottom: 1px solid #f5f5f5;
        padding: 25px 0; 
        text-align: center;
        color: #381d2a;
        /* position: fixed; */
        width: 100%; 
        box-shadow: 0 2px 2px -2px rgba(245,245,245,0.5);
    }

    #logo{
       display: none;
     }
   

    /* -------------------- ABOUT -------------------- */
    .aboutme {
        display: inline-grid;
        grid-template-columns: 50% 50%;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 50px;
    }
    
    .aboutmepic {
        align-self: center;
        justify-self: center;
    }

    .aboutme img {
        grid-column: 1 / 2;
        max-height: 500px;
        min-height: 200px;
        max-width: 400px;
        min-width: 100px;
        border-radius: 8%;
    }
    
    .aboutmeparagraph {
        grid-column: 2 / 3;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 40px 90px;
        align-items: center;
    }

}

/*Add media query to handle reduced-motion*/
@media screen and (prefers-reduced-motion: reduce) {
    #logo {
        animation-duration: 0s;
        /*animation: none*/
    }
}