body {
    color: #402a20;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fffbfa;
}

nav li {
    display:inline;
    padding-left:20px;  
    font-family: 'Raleway', sans-serif; 
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none; 
    text-transform: uppercase;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
    font-size: 17px;
}

nav {
    background-color: #e6ebeb;
    padding: 25px 0; 
    text-align: left;
    /* position: fixed;
    width: 100%; */
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto auto auto auto;
}

.intro {
    display: grid;
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    background-color: #e6f9fc;
    background-image: url("../imgs/sky.jpg"); 
    text-align: center;
    justify-self: center;
    align-self: center; 
    gap: 100px 300px; 
    /* padding: 100px;
    padding-left: 300px;
    padding-right: 300px; */
    font-size: 14px;
    font-family: 'Montserrat', serif;
    grid-column: 1 / -1;
    grid-row: 1 / auto;
}

div#top {
    display: grid;
    padding-bottom: 8px;
}

div#bottom {
    display: grid;
    padding-top: 8px;
}

.intro h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 4px solid #ff8fc7;
    border-bottom: 4px solid #ff8fc7;
    font-size: 40px;
    text-transform: uppercase;
    color: #ff8fc7;
    text-shadow: 1px 1px 3px white;
    /* margin-top: 15px;
    margin-bottom: 15px; */
}

.projects {
    display: grid;
    grid-template-rows: 40px 300px;
    grid-template-columns: 1fr 1fr;
}

#coding {
    grid-column: 1 / span 2;
    font-family: 'Montserrat', serif;
    font-size: 24px;
    padding: 20px;
    text-transform: uppercase;
}

#faceless {
    display: inline-grid;
    padding: 50px;
    justify-self: center;
    align-self: center;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    object-fit: contain;
    width: 500px;
    height: 400px;
    margin: 10px;
    border: 3px solid gray;
}

#mardigras {
    display: grid;
    padding: 50px;
    justify-self: center;
    align-self: center;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border: 3px solid gray;
}

#faceless h5, #faceless p, #mardigras h5, #mardigras p {
    display: none;
}

#faceless:hover, #mardigras:hover {
    opacity: 0.5;
    display: block;
    color: black;
}

#faceless:hover + #facelessh5, #faceless:hover + #facelessp, #mardigras:hover + #mardigrash5, #mardigras:hover + #mardigrasp {
    display: block;
    color: black;
}

footer {
    background-color: #e1f4fa;
    color: #2c373b;
    padding: 25px;
    margin: 0px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
